@page
@model SSD_Assignment___shirts4uz.Pages.Shirts.BuyModel
@{
    ViewData["Title"] = "Purchase";
    var photoPath = "~/img/" + (Model.Shirt.PhotoPath ?? "noimg.jpg");
}

<h1>Purchase</h1>

<h4>Shirt</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Color)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Color)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Size)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Size)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.ListDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.ListDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Shirt.Category)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Shirt.Category)
    </dd>
    <dd class="col-sm-10">
        <div class="form-group row col-sm-4 offset-4">
            <img class="imageThumbnail" src="@photoPath" asp-append-version="true" style="max-width:30rem;" />
        </div>
    </dd>

</dl>

<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <h3>Billing Address</h3>
                        <label asp-for="Order.FullName" class="control-label">Full Name</label>
                        <input asp-for="Order.FullName" class="form-control">
                        <span asp-validation-for="Order.FullName" class="text-danger"></span>

                        <br />
                        <label asp-for="Order.Email" class="control-label">Email</label>
                        <input asp-for="Order.Email" class="form-control">
                        <span asp-validation-for="Order.Email" class="text-danger"></span>
                        <br />
                        <label asp-for="Order.Address" class="control-label">Address</label>
                        <input asp-for="Order.Address" class="form-control">
                        <span asp-validation-for="Order.Address" class="text-danger"></span>

                        <br />
                        <label asp-for="Order.City" class="control-label">City</label>
                        <input asp-for="Order.City" class="form-control">
                        <span asp-validation-for="Order.City" class="text-danger"></span>
                        <br />
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label asp-for="Order.State" class="control-label">State</label>
                                <input asp-for="Order.State" class="form-control">
                                <span asp-validation-for="Order.State" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="Order.PostalCode" class="control-label">Zip</label>
                                <input asp-for="Order.PostalCode" class="form-control">
                                <span asp-validation-for="Order.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <h3>Payment</h3>
                        <label asp-for="Order.NameOnCard" class="control-label">Name on Card</label>
                        <input asp-for="Order.NameOnCard" class="form-control">
                        <span asp-validation-for="Order.NameOnCard" class="text-danger"></span>
                        <br />
                        <label asp-for="Order.CCNum" class="control-label">Credit Card Number</label>
                        <input asp-for="Order.CCNum" class="form-control">
                        <span asp-validation-for="Order.CCNum" class="text-danger"></span>
                        <br />
                        <label asp-for="Order.ExpMonth" class="control-label">Exp Month</label>
                        <input asp-for="Order.ExpMonth" class="form-control">
                        <span asp-validation-for="Order.ExpMonth" class="text-danger"></span>
                        <br />
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <label asp-for="Order.ExpYear" class="control-label">Exp Year</label>
                                <input asp-for="Order.ExpYear" class="form-control">
                                <span asp-validation-for="Order.ExpYear" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6">
                                <label for="cvv" class="control-label">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="359" class="form-control" required>
                            </div>
                        </div>
                        <input hidden asp-for="Shirt.PhotoPath" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Shirt.ID" /> 
                            <input hidden asp-for="Shirt.Name" class="form-control" />
                            <input hidden asp-for="Shirt.Color" class="form-control" />
                            <input hidden asp-for="Shirt.Size" class="form-control" />
                            <input hidden asp-for="Shirt.Description" class="form-control" />
                            <input hidden asp-for="Shirt.Price" class="form-control" />
                            <input hidden asp-for="Shirt.ListDate" class="form-control" />
                            <input hidden asp-for="Shirt.Category" class="form-control" />
                    </div>

                </div>
                <input type="submit" value="Continue to checkout" class="btn btn-danger m-1">
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
