@page "{id:int}"
@model SSD_Assignment___shirts4uz.Pages.Shirts.DetailsModel

@{
    ViewData["Title"] = "Details";
    var photoPath = "~/img/" + (Model.Shirt.PhotoPath ?? "noimg.jpg");
}

<h1>Details</h1>

<div>
    <h4>Shirt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shirt.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shirt.Category)
        </dd>
        <dd class="col-sm-10">
            <div class="form-group row col-sm-4 offset-4">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true" style="max-width:30rem;" />
            </div>
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <h3>Leave us some feedback</h3>
                        <label asp-for="Feedback.Comment" class="control-label">Comment</label>
                        <input asp-for="Feedback.Comment" class="form-control">
                        <span asp-validation-for="Feedback.Comment" class="text-danger"></span>
                    </div>

                    <div class="col-sm-2 form-group">
                        <h3>&#x200B;</h3>
                        <label asp-for="Feedback.Rating" class="control-label"></label>
                        <select asp-for="Feedback.Rating" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <span asp-validation-for="Feedback.Rating" class="text-danger"></span>


                        <input hidden asp-for="Shirt.PhotoPath" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Shirt.ID" />
                        <input hidden asp-for="Shirt.Name" class="form-control" />
                        <input hidden asp-for="Shirt.Color" class="form-control" />
                        <input hidden asp-for="Shirt.Size" class="form-control" />
                        <input hidden asp-for="Shirt.Description" class="form-control" />
                        <input hidden asp-for="Shirt.Price" class="form-control" />
                        <input hidden asp-for="Shirt.ListDate" class="form-control" />
                        <input hidden asp-for="Shirt.Category" class="form-control" />
                    </div>

                </div>
                <input type="submit" value="Submit" class="btn btn-danger m-1">
            </form>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackList[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackList[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeedbackList[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FeedbackList)
        {
            if (item.ShirtID == Model.Shirt.ID.ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Product Manager") || User.Identity.Name == item.FullName)
                        {
                            <td>
                                <a asp-page="../Feedbacks/Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-page="../Feedbacks/Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        }
                    }
                </tr>
            }

        }
    </tbody>
</table>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
