@page
@model SSD_Assignment___shirts4uz.Pages.Shirts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="ShirtCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].ListDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shirt[0].Category)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shirt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
