@page
@model SSD_Assignment___shirts4uz.Pages.Shirts.IndexModel

@{
    ViewData["Title"] = "Browse";
}

<h2>Browse from our collection of shirts</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Product Lister"))
    {
        <p>
            <a asp-page="Create">Create New</a>
        </p>
    }
}

@if (TempData["message"] != null)
{
    <p><font color="red">@TempData["message"]</font></p>
}


<form>
    <p>
        <select asp-for="ShirtCategory" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <div class="card-deck">
        @foreach (var shirt in Model.ShirtList)
        {
            var photoPath = "~/img/" + (shirt.PhotoPath ?? "noimg.jpg");
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header" style="min-height:7rem;">
                    <h3>@shirt.Name</h3>
                </div>
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a class="btn btn-primary m-1" asp-page="./Buy" asp-route-id="@shirt.ID">Buy</a>
                    <a class="btn btn-primary m-1" asp-page="./Details" asp-route-id="@shirt.ID">Details</a>
                    <!--<form>
                        <input hidden asp-for="Shirt.PhotoPath" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Shirt.ID" />
                        <input hidden asp-for="Shirt.Name" class="form-control" />
                        <input hidden asp-for="Shirt.Color" class="form-control" />
                        <input hidden asp-for="Shirt.Size" class="form-control" />
                        <input hidden asp-for="Shirt.Description" class="form-control" />
                        <input hidden asp-for="Shirt.Price" class="form-control" />
                        <input hidden asp-for="Shirt.ListDate" class="form-control" />
                        <input hidden asp-for="Shirt.Category" class="form-control" />
                        <input type="submit" value="Add To Cart" class="btn btn-danger m-1" asp-route-id="shirt.ID">
                    </form>-->
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Product Lister"))
                        {
                            <a class="btn btn-primary m-1" asp-page="./Edit" asp-route-id="@shirt.ID">Edit</a>
                            <a class="btn btn-danger m-1" asp-page="./Delete" asp-route-id="@shirt.ID">Delete</a>
                        }
                    }
                </div>
            </div>
        }
    </div>
</table>
