@page
@model SSD_Assignment___shirts4uz.Pages.Audit.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Audit Logs</h1>
<br/>
<form>
    <p>
        Search Action: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    <p>
        Search User: &nbsp;&nbsp;&nbsp;<input type="text" asp-for="SearchUser" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].AuditActionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].DateTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRecord[0].KeyShirtFieldID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var audit in Model.AuditList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => audit.AuditActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => audit.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => audit.DateTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => audit.KeyShirtFieldID)
            </td>
        </tr>
}
    </tbody>
</table>
